# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Logs
*.log

# Env
.env

# Docker
.dockerignore
Dockerfile
